.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation-link {
  display: block;
  border-bottom: 3px solid transparent;
}

.navigation-link-active {
  border-bottom: 3px solid green;
}

.navigation-link:hover {
  border-bottom: 3px solid green;
}
