.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 200px;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header__logo-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__title {
  text-transform: uppercase;
  color: #00dc7f;
  margin: 0;
}
